.form-group span label{
	display: inline;
	font-weight: normal;
	padding: 0px 10px;
}

.jumbotron{
     background-repeat:no-repeat;
     padding:000px 0 000px 0 !important;
     margin-bottom:0px !important;
     background-color:#D46917 !important;
	 }
body{
	background-color:#dce4e3!important;
	
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
#details-table
{
   float: left;
   width: 334px;
}
.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
.details-title {color: #538591;  font-family:"Verdana";  font-size: 36px;}
.details-sub {color: #538591;  font-family:"Verdana";  font-size: 22px;}
.details-subsub {color: #538591;  font-family:"Tahoma";  font-size: 14px;}

.footer-info {color:#8f5122; font-family:"Verdana";  font-size: 34px;}
.footer-company {color:#8f5122; font-family:"Tahoma";  font-size: 14px;}